body{
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    
    border-radius: 28px;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 300px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block  ;
}

.blurred-layer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.redd.it/wallpaper-alert-81st-international-hundred-for-virat-kohli-v0-mz6gz9dss63e1.jpg?width=1080&format=pjpg&auto=webp&s=5a4642a049170dbd3366b26cfa8370f7ec6471e3);
    background-size: cover;
    background-position: bottom;    
    filter: blur(10px);
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    z-index: 1;

    -webkit-mask-image: linear-gradient(
        to top, rgba(0,0,0,1), rgba(0,0,0,0,)
    );

    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}


.content{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    
    color: white;
    z-index: 2;
}

.content h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.content p{
    font-size: 14px;
    line-height: 1.4;
    color: white;
}