html {
  margin: 0;
}

.canvas {
  margin: 100px auto;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

#grey {
  background: grey;
}

#white {
  background: white;
}

#blue {
  background: blue;
}

#yellow {
  background: yellow;
}
